<!DOCTYPE html>
<html>
    <style type="text/css">
        #wpisy
        {
	        position: relative;
	        text-align:center;
	    }
	    #calosc
	    {
	        margin: 0 auto;
	        background-color: green;
	    }

	    *.odstep
	    {
	        padding: 10px;
	        position: relative;
	        text-align:center;
	    }
    </style>
    <head>
        <title>mBlog</title>
    </head>
    <body id="calosc">
            <h1 class="odstep">Witaj na stronce mBlog</h1>
            <div class="odstep"><a href='/~p6/wsgi/login'>Logowanie</a></div>
            <div class="odstep"><a href='/~p6/wsgi/register'>Rejestracja</a></div><hr />
            <div id="wpisy">
            <p>Wszystkie wpisy:</p>
                % for i in allNotes:
                    <div> {{ i[0] }} - {{ i[1] }}</div>
                    <div> {{ i[2] }}</div></br>
                % end
            </div>
    </body>
</html>