<!DOCTYPE html>

<html>
    <style type="text/css">
        #wpisy
        {
	        position: relative;
	        text-align:center;
	    }
	    #calosc
	    {
	        margin: 0 auto;
	        background-color: green;
	    }

	    *.odstep
	    {
	        padding: 10px;
	    }
	    *.na_srodek
	    {
	        position: relative;
	        text-align:center;
	    }
    </style>
    <head>
        <title>mBlog: logowanie</title>
    </head>
    <body id="calosc">
        <form class="na_srodek" action="/~p6/wsgi/blog" method="post">
         <h1 calss="odstep">Logowanie :</h1>
          <div calss="odstep">
          Login:<br />
          <input type="text" name="login"/><br />
          </div>
          <div calss="odstep">
          Hasło:<br />
          <input type="password" name="haslo"/><br />

          <input type="submit" value="Login" name="submit" />
          </div>
         </form>
    </body>
</html>