<!DOCTYPE html>

<html>
    <style type="text/css">
        #wpisy
        {
	        position: relative;
	        text-align:center;
	    }
	    #calosc
	    {
	        margin: 0 auto;
	        background-color: green;
	    }

	    *.odstep
	    {
	        padding: 10px;
	    }
	    *.na_srodek
	    {
	        position: relative;
	        text-align:center;
	    }
    </style>
    <head>
        <title>mBlog: rejestracja</title>
    </head>
    <body id="calosc">
        <form class="na_srodek" action="/~p6/wsgi/registercheck" method="post">
        <h1 class="odstep">Rejestracja :</h1>
          <div>
          Imię:<br />
          <input type="text" name="imie"/><br />

          Nazwisko:<br />
          <input type="text" name="nazwisko"/><br />

          Login:<br />
          <input type="text" name="login"/><br />

          Hasło:<br />
          <input type="password" name="haslo"/><br />

          <input type="submit" value="Wyślij" name="submit" />
          </div>
         </form>
    </body>
</html>