<!DOCTYPE html>
<html>
    <head>
        <title>Lista Urzytkowników</title>
    </head>
    <body>
        <h1>Lista urzytkowników</h1>
            % for i in ludzie:
                <p>- {{ i[0] }} {{ i[1] }} {{ i[2] }} {{ i[3] }}<p>
            % end
    </body>
</html>