<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
    <table>
        <tr><td>Tytuł: </td><td>{{title.title}}</td></tr>
        <tr><td>Autor: </td><td>{{title.author}}</td></tr>
        <tr><td>Wydawca: </td><td>{{title.publisher}}</td></tr>
        <tr><td>ISBN: </td><td>{{title.isbn}}</td></tr>
    </table>
    </body>
</html>